.*.swp
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info

# Installer logs
pip-log.txt

# Translations
*.mo

# Django specified files
settings_local.py
studynet/static

# Database Storage
data/*

# extension
extension/social-nccu/chrome/config/config.local.json
