{% extends "base.html" %}

{% block course_active %}active{% endblock %}

{% block head_end %}
<style type="text/css">
    .course-table tbody {
        cursor: pointer;
    }
</style>
{% endblock %}

{% block content_with_fluid %}

<!-- Left float -->
<div class="span3">
    <!-- Sidebar -->
    <div class="well sidebar-nav">
        <ul class="nav nav-list depart-list">
            
            <li class="nav-header">Categories By Department</li>

            {% for non_general_department in non_general_departments %}
            <li class="depart-{{non_general_department.uuid}}"><a href="/courses/depart-{{non_general_department.uuid}}">{{ non_general_department.name }}</a></li>
            {% endfor %}

            <li class="divider"></li>
            <li class="nav-header">Common Courses</li>

            {% for general_department in general_departments %}
            <li class="depart-{{general_department.uuid}}"><a href="/courses/depart-{{general_department.uuid}}">{{ general_department.name }}</a></li>
            {% endfor %}
        </ul>
        <script type="text/javascript">
            $("ul.depart-list li.depart-{{ current_uuid }}").addClass("active");
        </script>
    </div>
</div>

<!-- Right float -->
<div class="span9">
    <!-- Courses Table -->
    <!--
    <div class="btn-group pull-right">
        <button class="btn" id="addCourseBtn"><span class="icon-plus"></span>Add a Course</button>
    </div>
    -->
    <h3>Courses</h3>

    <table class="table table-hover course-table">
        <thead>
            <tr>
                <th>學期</th>
                <th>課程代碼</th>
                <th>名稱</th>
                <th>教授</th>
                <th>學分數</th>
                <th>上課時間</th>
                <th>上課地點</th>
                <th>點閱數</th>
            </tr>
        </thead>

        {% for course in courses %}
        <tbody class="course-{{course.uuid}}">
            <tr>
                <td>{{course.fs_semester}}</td>
                <td>{{course.fs_course_number}}</td>
                <td>{{course.get_name}}</td>
                <td>{{course.get_teacher}}</td>
                <td>{{course.fs_credit_point}}</td>
                <td>{{course.fs_class_time}}</td>
                <td>{{course.fs_class_room}}</td>
                <td>{{course.click}}</td>
            </tr>
        </tbody>
        {% endfor %}

    </table>
</div>
</div>
{% endblock %}


{% block modals %}
<!-- Modal -->
<div class="modal hide fade" id="courseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">000211011 政治學</h3>
    </div>
    <div class="modal-body">
        <div class="fb-like" style="float:right;" data-href="http://example.com" data-send="true" data-layout="box_count" data-width="300" data-show-faces="true" data-action="recommend"></div>
        <ul>
            <li>Semester: 1001</li>
            <li>Course Number: 000211011</li>
            <li>Name: 政治學</li>
            <li>Teacher: 蔡中民</li>
            <li>Credit Point: 3.0</li>
            <li>Time: 三234</li>
            <li>Classroom: 大勇210105</li>
            <li>Created by: 政治系</li>
            <li>Like: 25</li>
        </ul>
        <div class="fb-comments" data-href="http://example.com" data-num-posts="10" data-width="530"></div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>

<div class="modal hide fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Import a Course</h3>
    </div>
    <div class="modal-body">
        <p>
            Please Input Course#: 
        </p>
        <div class="input-append">
            <input class="span2" id="appendedInputButton" size="16" type="text"><button class="btn" type="button">Go!</button>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>



<script type="text/javascript">
    $("#courseModal").modal({show:false});
    $("tbody tr").on("click", function(){        
            $("#courseModal").modal();
            });

$("#importModal").modal({show:false});
$("#addCourseBtn").on("click", function(){
        $("#importModal").modal();
        });
    </script>

    {% endblock %}

