<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>StudyNet Prototype</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" />
    <!-- fluorine -->
    <!--
    <script src="{{ STATIC_URL }}js/lib/fluorine/library/jquery/jquery-min.js"></script>
    <script src="{{ STATIC_URL }}js/lib/fluorine/library/underscore/underscore-min.js"></script>
    -->
    <script src="{{ STATIC_URL }}js/lib/fluorine/library/main/notifier.js"></script>
    <script src="{{ STATIC_URL }}js/lib/fluorine/library/main/process.js"></script>
    <script src="{{ STATIC_URL }}js/lib/fluorine/library/main/context.js"></script>
    <!-- bootstrap -->
    <script src="{{ STATIC_URL }}js/lib/jquery-min.js"></script>
    <script src="{{ STATIC_URL }}js/lib/underscore-min.js"></script>
    <script src="{{ STATIC_URL }}js/lib/bootstrap.min.js"></script>

</head>
<body>
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                    appId      : '142892519093949', // App ID
                    channelUrl : '/channel.html', // Channel File
                    status     : true, // check login status
                    cookie     : true, // enable cookies to allow the server to access the session
                    xfbml      : true  // parse XFBML
                    });
            // Additional initialization code here
        };

        // Load the SDK Asynchronously
        (function(d){
         var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement('script'); js.id = id; js.async = true;
         js.src = "//connect.facebook.net/en_US/all.js";
         ref.parentNode.insertBefore(js, ref);
         }(document));
    </script>
    <!-- Navtigation Bar -->
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="#">Social Study</a>
            <ul class="nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Rank</a></li>
                <li><a href="mailto:littleq0903@gmail.com">Contact Us</a></li>
                <li><a href="#"></a></li>
            </ul>
            <form class="navbar-search pull-right">
                <input type="text" class="search-query" placeholder="Search">
            </form>
        </div>
    </div>

    <!-- Fluid System -->
    <div class="container-fluid">
        <div class="row-fluid">

            <!-- Left float -->
            <div class="span3">
                <!-- Sidebar -->
                <div class="well sidebar-nav">
                    <ul class="nav nav-list">
                        <li class="nav-header">Categories By Department</li>
                        <li class="active"><a href="#">Computer Science</a></li>
                        <li><a href="#">Mathematics</a></li>
                        <li><a href="#">Chinese</a></li>
                        <li><a href="#">Physics</a></li>
                        <li><a href="#">Law</a></li>
                        <li class="divider"></li>
                        <li class="nav-header">Others</li>
                        <li><a href="#">Common Courses</a></li>
                    </ul>
                </div>
            </div>

            <!-- Right float -->
            <div class="span9">
                <!-- Courses Table -->
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Semester</th>
                            <th>Course#</th>
                            <th>Name</th>
                            <th>Teacher</th>
                            <th>Credit Pt.</th>
                            <th>Time</th>
                            <th>Classroom</th>
                            <th>Department</th>
                            <th>Comments</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1001</td>
                            <td>000211011</td>
                            <td>政治學</td>
                            <td>蔡中民</td>
                            <td>3.0</td>
                            <td>三234</td>
                            <td>大勇210105</td>
                            <td>政治系</td>
                            <td>
                                3
                            </td>
                        </tr>
                        <tr>
                            <td>1001</td>
                            <td>000211011</td>
                            <td>政治學</td>
                            <td>蔡中民</td>
                            <td>3.0</td>
                            <td>三234</td>
                            <td>大勇210105</td>
                            <td>政治系</td>
                            <td>25</td>
                        </tr>
                        <tr>
                            <td>1001</td>
                            <td>000211011</td>
                            <td>政治學</td>
                            <td>蔡中民</td>
                            <td>3.0</td>
                            <td>三234</td>
                            <td>大勇210105</td>
                            <td>政治系</td>
                            <td>25</td>
                        </tr>

                    </tbody>
                
                </table>
            </div>
        </div>


        <!-- Modal -->
        <div class="modal hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">000211011 政治學</h3>
            </div>
            <div class="modal-body">
                <ul>
                    <li>Semester: 1001</li>
                    <li>Course Number: 000211011</li>
                    <li>Name: 政治學</li>
                    <li>Teacher: 蔡中民</li>
                    <li>Credit Point: 3.0</li>
                    <li>Time: 三234</li>
                    <li>Classroom: 大勇210105</li>
                    <li>Created by: 政治系</li>
                    <li>Like: 25</li>
                </ul>
                <div class="fb-comments" data-href="http://example.com" data-num-posts="10" data-width="530"></div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </div>
        <script type="text/javascript">
            $("#myModal").modal({show:false});
            $("tbody tr").on("click", function(){        
                $("#myModal").modal();
            });
        </script>

        <hr />

        <footer>
            <p>© NCCUCS PLSM Labs 2012</p>
        </footer>
    </div>

</body>
</html>
